.navbar {
    background-image: linear-gradient(to right, #2c2cb8, #5417bc);
    justify-content: center;
    
}

.navbar-brand {
   color: rgb(147, 196, 238)!important;; 
}

#search-btn {
    margin-top: 4%;
}

.details {
    margin-top: 2%;
    padding-bottom: 0%;
}

@media (min-width: 1200px) {
    .forecast-cards .col-xl-2 {
    flex: 0 0 auto;
    width: 20%;
}
}
